<div class='aboutPageWrapper animated fadeIn'>

  <div id='nav_bar'>

    <span class='navLogo'><a href='/#/home'>DEANNA CHRISTINE</a></span>
    <span><a href='/#/home'>HOME</a></span>
    <span><a class='animated infinite pulse' href='/#/about'>ABOUT</a></span>
    <span><a href='/#/blog'>BLOG</a></span>
    <span><a href='/#/fashion'>FASHION</a></span>
    <span><a href='/#/makeup'>MAKEUP</a></span>
    <span><a href='/#/contact'>CONTACT</a></span>


    <a href='https://www.facebook.com/deannacbarton' target="_blank"><span class='socialIcon1'></span></a>
    <a href='https://www.instagram.com/deannaccorbin' target="_blank"><span class='socialIcon2'></span></a>
    <a href='https://www.pinterest.com/deannacb' target="_blank"><span class='socialIcon3'></span></a>


  </div>


  <div class='aboutBG'>
    <div class='aboutMeContainer'>

      <div class='aboutMePic'></div>

      <div class='aboutMeText'>
        <h1>ABOUT ME</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>


    </div>

  </div>

  <div class='footer'>
    <span class='footerText1'>© 2015 DEANNA CHRISTINE</span>
    <span class='footerText2'>PHOTOGRAPHY: DAKOTA CORBIN PHOTOGRAPHY</span>
  </div>


</div>