<div class='pageWrapper'>

Title: <input class='fields' type="text" placeholder="Title" ng-model='blog.title'>
        <br/>
        Date: <input class='fields' type="text" placeholder="Date" ng-model='blog.date'>
            <br/>
        Category: <input class='fields' type="text" placeholder="Category" ng-model='blog.category'>
        <br/>
        Blog Text: <input class='fields' type="text" placeholder="Blog Text" ng-model='blog.blogText'>
        <br/>
        Main Pic URL: <input class='fields' type="text" placeholder="URL" ng-model='blog.mainPic'>
        <br/>
        Pic 1 URL: <input class='fields' type="text" placeholder="URL" ng-model='blog.subPic1'>
        <br/>
        Pic 2 URL: <input class='fields' type="text" placeholder="URL" ng-model='blog.subPic2'>
        <br/>
        Pic 3 URL: <input class='fields' type="text" placeholder="URL" ng-model='blog.subPic3'>
        <br/>
        <input type='submit' value="Save" ng-click='newBlog(blog)'>
        <br/>







</div>