
<div class='blogPageWrapper animated fadeIn'>

  <div id='nav_bar'>

    <span class='navLogo'><a href='/#/home'>DEANNA CHRISTINE</a></span>
    <span><a href='/#/home'>HOME</a></span>
    <span><a href='/#/about'>ABOUT</a></span>
    <span><a class='animated infinite pulse' href='/#/blog'>BLOG</a></span>
    <span><a href='/#/fashion'>FASHION</a></span>
    <span><a href='/#/makeup'>MAKEUP</a></span>
    <span><a href='/#/contact'>CONTACT</a></span>


    <a href='https://www.facebook.com/deannacbarton' target="_blank"><span class='socialIcon1'></span></a>
    <a href='https://www.instagram.com/deannaccorbin' target="_blank"><span class='socialIcon2'></span></a>
    <a href='https://www.pinterest.com/deannacb' target="_blank"><span class='socialIcon3'></span></a>


  </div>
  <div class='blogBG'>
    <div class='blogWrapper'>
        <div class='blogPost' ng-repeat='blog in blogs'>
            
            
     <img class='mainPic' src='{{blog.mainPic}}'/>       
            
      <h1 class='blogHeader'>{{blog.title}}</h1>
      <span class='blogDate'>{{blog.date}}</span>
      <span class='blogDateCat'>Category: {{blog.category}}</span> 
      <p>{{blog.blogText}}</p>
            <br/>
            <br/>
            <img class='subPics' src='{{blog.subPic1}}'/>
            <img class='subPics' src='{{blog.subPic2}}'/>
            <img class='subPics' src='{{blog.subPic3}}'/>
            
        </div>
    </div>
  </div>


</div>