
<div class='contactPageWrapper animated fadeIn'>

<div id='nav_bar'>
            
            <span class='navLogo'><a href='/#/home'>DEANNA CHRISTINE</a></span>
                <span><a href='/#/home'>HOME</a></span>
                <span><a href='/#/about'>ABOUT</a></span>
                <span><a href='/#/blog'>BLOG</a></span>
                <span><a href='/#/fashion'>FASHION</a></span>
                <span><a href='/#/makeup'>MAKEUP</a></span>
                <span><a class='animated infinite pulse' href='/#/contact'>CONTACT</a></span>
            
            
            <a href='https://www.facebook.com/deannacbarton' target="_blank"><span class='socialIcon1'></span></a>
            <a href='https://www.instagram.com/deannaccorbin' target="_blank"><span class='socialIcon2'></span></a>
            <a href='https://www.pinterest.com/deannacb' target="_blank"><span class='socialIcon3'></span></a>
            
            
            </div>
    
    
    
    <div class='aboutBG'>
        <div class='contactContainer'>
            
            
            
            <div class='contactText'>
            <h1>CONTACT ME</h1>
            <p>For any personal communication, the best way to get in touch with me is through any of my social media accounts.</p>
                <p>For any business inquiries, please contact me at deannachristineblog@gmail.com</p>
                <p>Thanks!</p>
                <br/>
                <br/>
                <br/>
            <img class='contactLogo' src="../img/favicon.png"/>
                
            </div>
            
            
            
        </div>
    
    </div>
    
    <div class='footer'>
     <span class='footerText1'>© 2015 DEANNA CHRISTINE</span>
     <span class='footerText2'>PHOTOGRAPHY: DAKOTA CORBIN PHOTOGRAPHY</span>
     </div>
    
    
    
    
    
</div>