 <div class='homePageWrapper animated fadeIn'>
        <div id='nav_bar'>
            
            <span class='navLogo'><a href='/#/home'>DEANNA CHRISTINE</a></span>
                <span><a href='/#/home'>HOME</a></span>
                <span><a href='/#/about'>ABOUT</a></span>
                <span><a href='/#/blog'>BLOG</a></span>
                <span><a href='/#/fashion'>FASHION</a></span>
                <span><a href='/#/makeup'>MAKEUP</a></span>
                <span><a href='/#/contact'>CONTACT</a></span>
            
            
            <a href='https://www.facebook.com/deannacbarton' target="_blank"><span class='socialIcon1'></span></a>
            <a href='https://www.instagram.com/deannaccorbin' target="_blank"><span class='socialIcon2'></span></a>
            <a href='https://www.pinterest.com/deannacb' target="_blank"><span class='socialIcon3'></span></a>
            
            
            </div>
        
        <div class='topBanner'>
            
          
            
            <div class='bannerLogo'></div>
        
        
        </div>
       
        <div class='firstContainer'>
        
        <a href='/#/fashion'><div class='photoContainer1'>
            <p class='photoText1'>FASHION</p>
            
            </div></a>
        <a href='/#/blog'><div class='photoContainer2'>
            <p class='photoText2'>BLOG</p>
            </div></a>
        <a href='/#/makeup'><div class='photoContainer3'>
            <p class='photoText3'>MAKEUP</p>
            </div></a>
        
        </div>
        <div class='wall-2'>
        
           
            <div class='randomBox1'>
            <div class='randomTextBox1'>
                <h1>BRANDS I LOVE</h1>
                <div id='hmLogo'></div>
                <div id='crusseLogo'></div>
                <div id='cottononLogo'></div>
                
            
            </div>
            </div>
                <div class='randomBox2'>
            <div class='randomTextBox2'>
                <h1>BRANDS I LOVE</h1>
                <div id='urbandecayLogo'></div>
                <div id='nyxLogo'></div>
                <div id='benefitLogo'></div>
                
            
            </div>
            </div>
            
        
        
        </div>
          
        
        
        
       
        
        
<!--        <div class='secondContainer'></div>-->
        
        <div class='followMeIg'>
        
        <span class='follow'>FOLLOW ME ON INSTAGRAM!</span>
            
        </div>
          <div id='instagram'>
        
        
        </div>
     
     
     <div class='footer'>
     <span class='footerText1'>© 2015 DEANNA CHRISTINE</span>
     <span class='footerText2'>PHOTOGRAPHY: DAKOTA CORBIN PHOTOGRAPHY</span>
     </div>
     
     </div>
        